@tailwind base;

@tailwind components;

@tailwind utilities;

@layer components {
  .default-button {
    @apply rounded w-1/4 bg-gray-700 focus:outline-none hover:bg-gray-600;
  }

  .default-lable {
    @apply rounded bg-gray-700 text-center;
  }

  .default-text {
    @apply text-gray-300 text-3xl;
  }
}

textarea:focus,
input:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
